@use "../../style/mobile";

.wrapper {
  @media screen and (max-width: mobile.$max-width) {
    border-radius: 0;
    &.playerVisible {
      display: none;
    }
    & > :global(.ant-card-head), :global(.ant-card-body) {
      border-radius: 0;
    }
  }

  & > :global(.ant-card-body) {
    padding: 10px;
  }

  .avatar {
    cursor: pointer;
  }

  .nonArtistName {
    &:not(:last-child) {
      padding-bottom: 5px;
    }
  }

  .noWrap {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include mobile.Mobile;

  .extra {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.windowed {
      display: flex;
    }
  }

  .keywords {
    flex: 1;
    padding-right: 10px;
  }
}
