@use "../../../style/mobile";

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin FadeIn {
  animation-name: FadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.wrapper {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 100vh;
    @include FadeIn;
  }

  .loadingText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    color: white;
    height: 100vh;
    @include FadeIn;
  }

  .karaoke {
    color: white;

    .line {
      padding: 0 18%;
      line-height: normal !important;
      font-weight: normal !important;

      &.fullscreen {
        font-size: 4vw;

        // taller
        @media (max-aspect-ratio: 1/1) {
          padding: 2vw 18vw;
        }

        // wider
        @media (min-aspect-ratio: 1/1) or (aspect-ratio: 1/1) {
          padding: 4vw 18vw;
        }

        .hasLeadingSpace {
          margin-left: 1vw !important;
        }

        .hasTrailingSpace {
          margin-right: 1vw !important;
        }
      }

      .mask {
        text-shadow: none;
      }
    }
  }

  .selector {
    position: sticky;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    transition: 0.2s;
    opacity: 0.1;
    text-shadow: none;

    &:hover {
      opacity: 1;
    }
  }
}
