.wrapper {
  position: relative;

  & > * {
    position: relative;
  }

  ::after {
    content: '1';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
  }
}
