@use "../../../style/mobile";

.wrapper {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-wrap: nowrap;

  .button {
    transition: 0.25s;
    padding: 25px 20px 20px;
    flex: 1;

    &:hover {
      scale: 1.05;
    }

    &:active {
      scale: 1.2;
    }

    & > * {
      scale: 1.8;
    }
  }
}
